/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 9, 2016
    Author     : Samantha Choy, Paula Mao-Tamasese
*/

/***        Background Settings        ***/

body {
    background-color: seashell;
}

h1 {
    text-align: center;
}

#error {
    color: red;
}